In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
resume_df = pd.read_csv('Cleaned_Resumes.csv')

In [3]:
resume_df

              Category                                     Resume_Details
0   Peoplesoft resumes  anubhav kumar singh to work in a globally comp...
1   Peoplesoft resumes  profile summary 7 years of experience in imple...
2   Peoplesoft resumes  peoplesoft database administrator gangareddy p...
3   Peoplesoft resumes  murali experience summary i have 6 years of ex...
4   Peoplesoft resumes  priyanka ramadoss 61 46 mountpleasant coonoor ...
..                 ...                                                ...
74             WorkDay  workday integration consultant name sri krishn...
75             WorkDay  seeking suitable positions in workday hcm as t...
76             WorkDay  workday hcm fcm name kumar s s role workday co...
77             WorkDay  venkateswarlu b workday consultant having 5.3 ...
78             WorkDay  vinay kumar v workday functional consultant ex...

[79 rows x 2 columns]

In [4]:
#Words into categorical values


from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

le.fit(resume_df["Category"])
resume_df["Category"]=le.transform(resume_df["Category"])
resume_df

    Category                                     Resume_Details
0          0  anubhav kumar singh to work in a globally comp...
1          0  profile summary 7 years of experience in imple...
2          0  peoplesoft database administrator gangareddy p...
3          0  murali experience summary i have 6 years of ex...
4          0  priyanka ramadoss 61 46 mountpleasant coonoor ...
..       ...                                                ...
74         3  workday integration consultant name sri krishn...
75         3  seeking suitable positions in workday hcm as t...
76         3  workday hcm fcm name kumar s s role workday co...
77         3  venkateswarlu b workday consultant having 5.3 ...
78         3  vinay kumar v workday functional consultant ex...

[79 rows x 2 columns]

In [12]:
# vectorization
from sklearn.feature_extraction.text import CountVectorizer

# Initialize the CountVectorizer
count_vectorizer = CountVectorizer(stop_words='english')

# Fit the vectorizer to the text data and transform it into count vectors
count_vectorizer.fit(resume_df["Resume_Details"])
Text = count_vectorizer.transform(resume_df["Resume_Details"])

# Output the transformed text
Text

<79x4109 sparse matrix of type '<class 'numpy.int64'>'
	with 18094 stored elements in Compressed Sparse Row format>

In [6]:
# spliting

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(Text,resume_df["Category"],test_size=0.2,random_state=42)

In [7]:
x_train.shape,x_test.shape

((63, 4109), (16, 4109))

In [8]:
# NoW lets train the model and print the classification report:

from sklearn.neighbors import KNeighborsClassifier
from sklearn.multiclass import OneVsRestClassifier

clf=OneVsRestClassifier(KNeighborsClassifier())
clf.fit(x_train,y_train)
ypred=clf.predict(x_test)

print("Actual values:",y_test.values)
print("Predicted Values:",ypred)

from sklearn.metrics import accuracy_score
print("Accuracy score:",accuracy_score(y_test,ypred))

Actual values: [1 0 1 1 0 1 0 3 0 0 2 1 3 1 3 2]
Predicted Values: [1 0 1 1 1 1 0 3 0 0 2 1 3 1 3 2]
Accuracy score: 0.9375

In [9]:
from sklearn.metrics import r2_score

# Calculate the R-squared score
r2_score = r2_score(y_test, ypred)

# Print the R-squared score
print("r2 score:",r2_score)

r2 score: 0.9457627118644067

In [11]:
from sklearn import metrics
print(metrics.classification_report(y_test,ypred))

              precision    recall  f1-score   support

           0       1.00      0.80      0.89         5
           1       0.86      1.00      0.92         6
           2       1.00      1.00      1.00         2
           3       1.00      1.00      1.00         3

    accuracy                           0.94        16
   macro avg       0.96      0.95      0.95        16
weighted avg       0.95      0.94      0.94        16

# Decision Tree

In [11]:
### Decision tree

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

X_train, X_test, y_train, y_test = train_test_split(Text, resume_df['Category'], test_size=0.2, random_state=42)
X_train.shape, X_test.shape

((63, 4109), (16, 4109))

In [12]:
decision_tree_model = DecisionTreeClassifier()
decision_tree_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [13]:
# Predict the labels for the test set
DecisionTree_ypred = decision_tree_model.predict(x_test)
print("Actual values:",y_test.values)
print("Predicted Values:",DecisionTree_ypred)

Actual values: [1 0 1 1 0 1 0 3 0 0 2 1 3 1 3 2]
Predicted Values: [1 0 1 1 0 1 0 3 0 0 2 1 3 1 3 2]

In [14]:
# Print the accuracy score
accuracy = accuracy_score(y_test, DecisionTree_ypred)
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 1.0000

In [15]:
from sklearn.metrics import accuracy_score, r2_score
# Calculate the R-squared score
r2_score = r2_score(y_test, DecisionTree_ypred)

# Print the R-squared score
print(r2_score)

1.0

In [16]:
# Print the classification report
print(classification_report(y_test, DecisionTree_ypred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         5
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         2
           3       1.00      1.00      1.00         3

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

# SVM

In [17]:

# Train the model using Support Vector Machine
from sklearn.svm import SVC
svm_model = SVC(probability=True)
svm_model.fit(x_train, y_train)

SVC(probability=True)

In [18]:
# Predict the labels for the test set
SVM_ypred = svm_model.predict(x_test)
print("Actual values:",y_test.values)
print("Predicted Values:",SVM_ypred)

Actual values: [1 0 1 1 0 1 0 3 0 0 2 1 3 1 3 2]
Predicted Values: [1 0 1 1 1 1 0 3 0 1 2 1 3 1 3 2]

In [19]:
# Print the accuracy score
accuracy = accuracy_score(y_test, SVM_ypred)
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.8750

In [20]:
from sklearn.metrics import accuracy_score, r2_score
# Calculate the R-squared score
r2_score = r2_score(y_test, SVM_ypred)

# Print the R-squared score
print(r2_score)

0.8915254237288136

In [21]:
# Print the classification report
print(classification_report(y_test, SVM_ypred))

              precision    recall  f1-score   support

           0       1.00      0.60      0.75         5
           1       0.75      1.00      0.86         6
           2       1.00      1.00      1.00         2
           3       1.00      1.00      1.00         3

    accuracy                           0.88        16
   macro avg       0.94      0.90      0.90        16
weighted avg       0.91      0.88      0.87        16

# Naive Bayes

In [22]:
# Train the model using Naive Bayes
from sklearn.naive_bayes import MultinomialNB
naive_bayes_model = MultinomialNB()
naive_bayes_model.fit(x_train, y_train)

MultinomialNB()

In [23]:
# Predict the labels for the test set
NaiveBayes_ypred = naive_bayes_model.predict(x_test)
print("Actual values:",y_test.values)
print("Predicted Values:",NaiveBayes_ypred)

Actual values: [1 0 1 1 0 1 0 3 0 0 2 1 3 1 3 2]
Predicted Values: [1 0 1 1 3 1 0 3 0 0 2 1 3 1 3 2]

In [24]:
# Print the accuracy score
accuracy = accuracy_score(y_test, NaiveBayes_ypred)
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.9375

In [25]:
from sklearn.metrics import accuracy_score, r2_score

# Calculate the R-squared score
r2_score = r2_score(y_test, NaiveBayes_ypred)

# Print the R-squared score
print(r2_score)

0.5118644067796609

In [26]:
# Print the classification report
print(classification_report(y_test, NaiveBayes_ypred))

              precision    recall  f1-score   support

           0       1.00      0.80      0.89         5
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         2
           3       0.75      1.00      0.86         3

    accuracy                           0.94        16
   macro avg       0.94      0.95      0.94        16
weighted avg       0.95      0.94      0.94        16

In [ ]:
# We are moving with the first model

In [28]:
# prediction system

import pickle
pickle.dump(count_vectorizer,open('count_vectorizer.pkl','wb'))
pickle.dump(clf,open('clf.pkl','wb'))

In [29]:
myresume=resume_df["Resume_Details"]
myresume[50]

'sql developer name bandi prem sai willing to work under a challenging and professional environment with exposure to new technologies as a t sql in the area of sql server 2012 2016 with enterprise portal and where there is ample scope for organizational growth as well as individual growth 2.6 years of experience in microsoft sql server environment with thorough knowledge of sql server 2012 2016 databases expertise in scripting t sql queries stored procedures user defined functions and triggers hands on experience in performing error handling and performance tuning in stored procedure good experienced in creating and using temporary table table variable and cte s common table expressions used sub queries derived table and joins to simplify complex queries involving multiple tables expertise in creating maintaining database objects like indexes functions views udf s constraints good experience in using ranking functions date functions string functions and aggregate functions good knowledge in transactions isolation level concurrency problems very good experience in building the relationship using constraints good knowledge in creating jobs to automate process using sql server agent good knowledge on new features in sql server 2016 2019 b c a from sri venkateswara university tirupathi worked at techasoft pvt ltd as software engineer bangalore since oct 2018 to till date project ii project name haematology solutions client name bravo pharma domain health care duration feb 2019 till date role sql developer description bravo pharma cares for the protection and enhancement of human health and well being on all levels the spectrum of our activities ranges from supporting education in life sciences and strengthening start ups in health technologies offering novel solutions for diagnostics and personalized treatment to production and sales of pharmaceuticals responsibilities developed and optimized database structures stored procedures views and user defined functions for the application created some t sql queries stored procedures design and create sql tables indexes responsible for query optimization and performance tuning performing query plans and making sure each and every query is using appropriate useful indexes design and create sql tables indexes responsible for query optimization and performance tuning performing query plans and making sure each and every query is using appropriate useful indexes created constraints mainly primary key and foreign key project i project name integrated simple commerce solution client name codi domain e commerce duration nov 2018 feb 2019 role sql developer description integrated simple commerce solution is an ecommerce application to sell products such as laptop printers etc through online integrated simple commerce solution built with high end technology and it is integrated with many upstream and downstream systems to handle the business and full fill customer needs integrated simple commerce solution having millions of customers around 16 countries and provides an easy way to find and buy the products responsibilities developed and optimized database structures stored procedures views and user defined functions for the application created some t sql queries stored procedures design and create sql tables indexes responsible for query optimization and performance tuning performing query plans and making sure each and every query is using appropriate useful indexes design and create sql tables indexes responsible for query optimization and performance tuning performing query plans and making sure each and every query is using appropriate useful indexes created constraints mainly primary key and foreign key'

In [31]:
#load the trained classifier
clf=pickle.load(open('clf.pkl','rb'))

#Transform the cleaned resume using the trained tfidfvectorizor
input_features=count_vectorizer.transform([myresume[50]])
input_features

<1x4109 sparse matrix of type '<class 'numpy.int64'>'
	with 192 stored elements in Compressed Sparse Row format>

In [32]:
#make the prediction using the loaded classifier
prediction_id=clf.predict(input_features)[0]

In [36]:
category_mapping={0:"Peoplesoft resumes",1:"React Developer",2:"SQL Developer",3:"WorkDay"}

In [37]:
category_name=category_mapping.get(prediction_id,"unknown")

In [38]:
print("prediction_id:",prediction_id)
print("predicted category:",category_name)

prediction_id: 2
predicted category: SQL Developer